body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav-container {
  background-color: #282c34;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  & .nav-item {
    margin: auto 2em auto 0.5em;
    color: white;
    font-size: 1.15em;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    padding-left: 0.5em;
    padding-right: 0.5em;

    &:hover {
      color: #4d62ab;
      border-bottom: 2px solid #4d62ab;
      transition: 0.5s all ease;
    }
  }
}

@keyframes slide-tab {

}
